<nav>
    <img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1609072752424x654841387818197400%2Fhorisontal%2520%25E2%2580%2593%2520koopia.jpg?w=256&h=45&auto=compress&fit=crop&dpr=1" alt="logo_horizontal">
    
    <div class="links">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/create">Add Post</a>
    </div>
</nav>

<style scoped>
    nav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    }

    a {
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 10px;
        color: black;
    }

    nav a:hover {
        color: #EFEFEF;
    }
</style>