<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=>, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Create a post</title>
    </head>

    <body>
        <%- include('./partials/header.ejs') %>
        <div class="create">
            <h1>CREATE A POST</h1>
    
            <div class="submit">
                <br>
                <div class="create-post">
                    <form action="/posts" method="POST">
                        <input type="text" id="author" name="author" placeholder="Author" required><br><br>
                        <input type="text" id="profile" name="profile" placeholder="Author Image URL" required><br><br>
                        <input type="text" id="date" name="date" placeholder="Date" required><br><br>
                        <input type="text" id="image" name="image" placeholder="Image URL"><br><br>
                        <input type="text" id="body" name="body" placeholder="Body" required><br><br>
                        <button type="submit">Submit</button>
                    </form>
                </div>
    
                <!--<img src="https://d1muf25xaso8hp.cloudfront.net/https%3A%2F%2Fs3.amazonaws.com%2Fappforest_uf%2Ff1622531233735x512153190912028100%2FVertical.jpg" alt="logo">-->
    
            </div>
            
        </div>

        <%- include('./partials/footer.ejs') %>

    </body>
</html>

<style scoped>
    .create {
        background-color: #EFEFEF;
        padding-bottom: 20px;
    }

    input {
        width: 400px;
        padding: 12px 10px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    button {
        color: white;
        background-color: black;
        width: 100%;
        padding: 12px 40px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    button:hover {
        color: black;
        background-color: white;
        cursor: pointer;
    }
    h1 {
        padding: 40px 0 50px;
        font-size: 50px;
        text-align: center;
    }
    h2 {
        text-align: center;
    }
    h3 {
        text-align: center;
    }
    .contact {
        background-color: #EFEFEF;
    }
    .contact img {
        width: 350px;
        height: auto;
        padding: 0 50px 100px 0;
    }
    .form {
        padding: 0 50px 0 0;
    }
    .submit {
        display: flex;
        justify-content: center;
    }
</style>
